doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Anton Haman's Interactive CV
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,600,700', rel='stylesheet')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src='/javascript/typed.js')
        script(src='/javascript/script.js')
        script(src="https://kit.fontawesome.com/c22a1fcdac.js", crossorigin="anonymous")
        link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon-96x96.png')
    body
        .jumbotron.text-center
            .container
                h1.myname
                hr
                p.no-print Interactive cv
                p.print-only Personal CV
            #scroll.no-print
                span
                    a(href='#profile')
                        span.glyphicon.glyphicon-menu-down
        #profile.container
            .row
                h1 Profile
                p#title.lead.text-center QA Automation Engineer / Software Developer
                hr
                .col-sm-4.col-xs-12
                    h2 About me
                    span
                        | Hello, I'm Anton, automated testing professional and this is my interactive CV developed with Express.js, Pug and JQuery, it's source code is available on <a href="https://github.com/kotvertolet/interactive-cv-express">Github</a>. Obviously, I'm interested not only in software testing but also in it's development, currently mostly in Android development, but in the past I had some commercial Java back-end development experience. I'm developer and maintainer of android library <a href='https://github.com/kotvertolet/youtube-jextractor'>YoutubeJExtractor</a> and android application <a href='https://github.com/kotvertolet/youtube-audio-player'>Youtube Audio Player</a>. I believe every QA specialist should be a little bit of developer, it gives understanding of how the things he's trying to break are working and thus completely different and more effective testing approach.
                .col-sm-4.col-xs-6
                    p.text-center
                        img.img-circle(src='/images/myphoto.jpg', alt='Photo of Anton Haman')
                #details.col-sm-4.col-xs-6
                    h2 Details
                    strong Name:
                    p Anton Haman
                    strong Age:
                    p=new Date().getFullYear() - 1992
                    strong Location:
                    p Kiev, Ukraine
        #careers.container-fluid
            .container
                .row
                    h1.text-center Experience
                    hr
                #showMore.col-sm-12.text-center.no-print
                    span
                        i
                        p
        #skills.container
            .row
                h1.text-center Skills
                hr
        footer
            #contacts.container
                .row
                    h1.text-center Contacts
                    hr
                    .col-md-4.col-sm-6.col-xs-12.text-left
                        a(href='https://cutt.ly/qyjQUBI', target='_blank')
                            div
                                i.fab.fa-linkedin.fa-2x(aria-hidden='true')
                                p linkedin.com/in/anton-haman
                    .col-md-4.col-sm-12.col-xs-12.text-left
                        a(href='https://github.com/kotvertolet', target='_blank')
                            div
                                i.fab.fa-github-square.fa-2x(aria-hidden='true')
                                p github.com/kotvertolet
                    .col-md-4.col-sm-12.col-xs-12.text-left
                        a(href='https://www.facebook.com/anton.haman', target='_blank')
                            div
                                i.fab.fa-facebook-square.fa-2x(aria-hidden='true')
                                p facebook.com/anton.haman
                    .col-md-4.col-sm-12.col-xs-12.text-left
                        a(href='skype:anton.haman?add', target='_blank')
                            div
                                i.fab.fa-skype.fa-2x(aria-hidden='true')
                                p anton.haman
                    .col-md-4.col-sm-6.col-xs-12.text-left
                        a(href='mailto:anton.haman.92@gmail.com', target='_blank')
                            div
                                i.fas.fa-envelope-square.fa-2x(aria-hidden='true')
                                p anton.haman.92@gmail.com


