doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Anton Haman's Interactive CV
        link(href='https://fonts.googleapis.com/css?family=Poppins:300,600,700', rel='stylesheet')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/style.css')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.slim.min.js')
        script(src='/javascript/typed.js')
        script(src='/javascript/script.js')
        script(src="https://kit.fontawesome.com/c22a1fcdac.js", crossorigin="anonymous")
        link(rel='icon', type='image/png', sizes='96x96', href='/images/favicon-96x96.png')
    body
        .jumbotron.text-center
            .container
                h1.myname
                hr
                p.no-print Interactive cv
                p.print-only Personal CV
            #scroll.no-print
                span
                    a(href='#profile')
                        span.glyphicon.glyphicon-menu-down
        #profile.container
            .row
                h1 Profile
                p#title.lead.text-center Senior Software Developer In Test
                hr
                .col-sm-4.col-xs-12
                    h2 About me
                    span
                        |   Hello, I'm Anton — a test automation engineer with over 10 years of practical experience in quality assurance, covering web, mobile, API, and desktop applications. I specialize in building robust and scalable test automation frameworks from scratch, as well as optimizing and maintaining existing ones. I also bring experience leading QA teams and collaborating within cross-functional agile environments.
                        br
                        br
                        |   This interactive CV was built with Express.js and Pug.js — not just to showcase my experience, but also to demonstrate that my skills extend beyond testing into backend development, tooling, and UI design. You can explore the source code on my <a href="https://github.com/antonyhaman/interactive-cv-express">Github</a>.
                .col-sm-4.col-xs-6.no-print
                    p.text-center
                        img.img-circle(src='/images/myphoto.jpg', alt='Photo of Anton Haman')
                #details.col-sm-4.col-xs-6
                    h2 Details
                    strong Name:
                    p Anton Haman
                    strong Age:
                    p=new Date().getFullYear() - 1992
                    strong Location:
                    p Kyiv, Ukraine
        #careers.container-fluid
            .container
                .row
                    h1.text-center Experience
                    hr
                #showMore.col-sm-12.text-center.no-print
                    span
                        i
                        p
        #skills.container
            .row
                h1.text-center Skills
                hr
        footer
            #contacts.container
                .row
                    h1.text-center Contacts
                    hr
                    .col-md-4.col-sm-6.col-xs-12
                        a(href='https://cutt.ly/qyjQUBI', target='_blank')
                            div
                                i.fab.fa-linkedin.fa-2x(aria-hidden='true')
                                p linkedin.com/in/anton-haman
                    .col-md-4.col-sm-12.col-xs-12
                        a(href='https://github.com/antonyhaman', target='_blank')
                            div
                                i.fab.fa-github-square.fa-2x(aria-hidden='true')
                                p github.com/antonyhaman
                    .col-md-4.col-sm-6.col-xs-12
                        a(href='mailto:anton.haman.92@gmail.com', target='_blank')
                            div
                                i.fas.fa-envelope-square.fa-2x(aria-hidden='true')
                                p anton.haman.92@gmail.com
                    .col-md-4.col-sm-12.col-xs-12
                        a(href='https://www.facebook.com/anton.haman', target='_blank')
                            div
                                i.fab.fa-facebook-square.fa-2x(aria-hidden='true')
                                p facebook.com/anton.haman            


